{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microfrontend Test Client</title>
</head>
<body>
    <div id="target"></div>

    <script type="module">
        import Counter from '{% static "ext/counter/counter.js" %}';
        new Counter({
            target: document.getElementById('target'),
        });
    </script>

</body>
</html>